@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 

.mont{
    font-family: 'Montserrat', sans-serif;
}

.cursive{
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
}